<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery</title>
    <link rel="stylesheet" th:href= "@{http://127.0.0.1:8080/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <style>
        body{
            background-color: #f1f1f1;
        }
    </style>
</head>
<body class="my-3">
    <div class="d-flex justify-content-center w-100 my-3">
        <div class="text-center">
            <img th:src="@{http://127.0.0.1:8080/images/spring-logo.png}" alt="Logo Admin" width="100">
            <h4>Admin Society</h4>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <div class="card container col-md-8">
            <div class="card-header">
                <h2 class="card-title text-center">User's password</h2>
                <div class="mx-3">
                    <div>Hello : <span class="fw-bold" th:text="${fullname}"></span></div>
                    <div>Email : <span class="fw-bold" th:text="${email}"></span></div>
                    <div>Username : <span class="fw-bold" th:text="${username}"></span></div>
                </div>
            </div>
            <div class="card-body text-center d-flex flex-column align-items-center mb-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore debitis veniam, ea modi cum quidem repellat assumenda atque nemo cupiditate?</p>
                <h5>This is your password you can update this</h5>
                <div class="border border-secondary rounded-3 p-2 my-2" th:text="${password}"></div>
                <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus repudiandae vitae fugit? Temporibus repudiandae saepe hic cum veritatis laboriosam earum labore excepturi? Veniam ex, vel ducimus consequatur odit rerum natus!</p>
            </div>
        </div>
    </div>
</body>
</html>